@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}



<div>
    
<div class="row wrapper border-bottom white-bg page-heading" style="margin-bottom: 15px;">
    <div class="col-lg-10">
      <h2>Личный кабинет</h2>
      <ol class="breadcrumb" style="margin-bottom: 10px;">
        <li>
          <a href="~/Offices/Index">Главная</a>
        </li>
        <li class="active">
          <strong>Изменение настроек вашего аккаунта</strong>
         
        </li>
      </ol>
    </div>
    <div class="col-lg-2 col-xs-2">

    </div>
  </div>
    <hr />

    <div class="row">
        <div class="col-md-3">
            @await Html.PartialAsync("_ManageNav")
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
