@model inventory_accounting_system.Models.Event

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Информация о событии</h2>
        <ol class="breadcrumb">
            <li>
                 <a href="~/Events">События</a>
            </li>
            <li class="active">
                <strong>Информация о событии</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<hr />

<div>
   
<dl class="dl-horizontal">
        <dt style="width: 250px;">
           <h2 style="text-align: left">Название: </h2>
        </dt>
        <dd>
           <h2 class="font-bold"  style=" margin-left: 50px;"> @Html.DisplayFor(model => model.Title)</h2>
        </dd>
        <dt style="width: 250px;">
           <h2 style="text-align: left;">Категория: </h2>
        </dt>
        <dd>
           <h2 class="font-bold" style=" margin-left: 50px;">@Html.DisplayFor(model => model.Category.Name)</h2>
        </dd>
    </dl>
</div>
<hr />
<div>
    <a class="btn btn-w-m btn-info" asp-action="Edit" asp-route-id="@Model.Id" style="font-size: 13pt; margin: 0 0 20px 0;">Редактировать</a>    
                  
</div>

    