@{
    ViewData["Title"] = "Home Page";
}

<h1 
style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: #2c4267; margin-bottom: 25px;">Inventory Accounting System</h1>
<img src="images/ekspeditor.jpg" style="width: 100%" alt="">