@{
    ViewData["Title"] = "Home Page";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Inventory Accounting System</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Главная</a>
            </li>
           
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<h3 
style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: #2c4267; margin-bottom: 25px;"></h3>
