# игнорировать всё в этой папке
*
# кроме этого файла
!.gitignore
!banner1.svg
!banner2.svg
!banner3.svg
!banner4.svg
!ekspeditor.jpg
!.2012 Mercedes-Benz E-Class Sedan 4D E550/
!.Acer Swift 3 SF314-54/
!.Acer Swift 3 SF314-54 Lava/
!.HP X360 Convertible/
!.TCL TAC-18CHSHS/
!.Стул/