@using Microsoft.AspNetCore.Identity
@using inventory_accounting_system.Models

@* @using inventory_accounting_system.ViewModel *@

@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <div class="dropdown profile-element" style="text-align: center">
        <span>
            <i></i>
        </span>
        <a href="#">
            <span class="clear">
                <span class="block m-t-xs">
                     <img alt="image" class="img-circle" src="~/img/User.jpg" style="width: 70px; height: 70px; margin-bottom: 7px;">
                    <strong class="font-bold"  style="font-size: 17pt; margin-right: -3px; "> 
                        <a asp-area="" asp-controller="Manage" style="color: white" asp-action="Index" title="Manage">@UserManager.GetUserName(User)</a>
                        </strong>
                </span>
            </span>
        </a>



        <ul class="dropdown-menu animated fadeInRight m-t-xs">
            @if (User.IsInRole("Manager"))
            {
                <li>
                    <a id="update" style="color: white" class="glyphicon glyphicon-bell"
                       asp-area=""
                       asp-controller="OrderEmployees"
                       asp-action="Index">
                        @await Component.InvokeAsync("OrderEmployeeVM")                        
                    </a>


                </li>

                
            }
            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a id="update" style="color: white" class="glyphicon glyphicon-bell"
                       style="color: black;"
                       asp-area=""
                       asp-controller="OrderEmployeeAdmins"
                       asp-action="Index">
                        @await Component.InvokeAsync("OrderEmployeeAdminVM")
                    </a>

                </li>
            }
            <li class="divider"></li>
            <li>
               
            </li>
        </ul>
    </div>

}



    <script>

            /*setInterval(function(){
                $("#update").load("index.php #block");
            }, 30000);*/

    </script>