@using Microsoft.AspNetCore.Identity

@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManager

        


<div class="container-fluid">
    <h1 style="color: #2e728b">Отчёты</h1>
    <div class="row">


<a onclick="showModalReportOnStockshortFile()" >
            <div class="col-lg-4">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-file-text-o fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <i class="fa fa-hand-o-up fa-2x"></i>
                            <h3 class="font-bold" style="font-size: 15pt;">Отчёт о списанию актива:</h3>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a onclick="showModalReportOnStockAdd()" >
            <div class="col-lg-4">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-file-text-o fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <i class="fa fa-hand-o-up fa-2x"></i>
                            <h3 class="font-bold" style="font-size: 15pt;">Отчёт отчёта по приобретённым актива</h3>
                        </div>
                    </div>
                </div>
            </div>
        </a>

         <a onclick="showModalReportOnStock()" >
            <div class="col-lg-4">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-file-text-o fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <i class="fa fa-hand-o-up fa-2x"></i>
                            <h3 class="font-bold" style="font-size: 15pt;">Отчёт о активах которые находяться на складе</h3>
                        </div>
                    </div>
                </div>
            </div>
        </a>

         <a onclick="showModalReportOnStocktransfer()" >
            <div class="col-lg-4">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-file-text-o fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <i class="fa fa-hand-o-up fa-2x"></i>
                            <h3 class="font-bold" style="font-size: 15pt;">Отчёт о перемещению актива</h3>
                        </div>
                    </div>
                </div>
            </div>
        </a>

         <a onclick="showModalReportOnStockCategoryList()">
            <div class="col-lg-4">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-file-text-o fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <i class="fa fa-hand-o-up fa-2x"></i>
                            <h3 class="font-bold" style="font-size: 17pt;">Отчёт по категориям</h3>
                        </div>
                    </div>
                </div>
            </div>
        </a>

         <a onclick="showModalReportOnStockAssetsByOfficeOnDate()">
            <div class="col-lg-4">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-file-text-o fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <i class="fa fa-hand-o-up fa-2x"></i>
                            <h3 class="font-bold" style="font-size: 15pt;">Отчёт по офисам на определённую дату</h3>
                        </div>
                    </div>
                </div>
            </div>
        </a>

    </div>
</div>



@if (User.IsInRole("Admin"))
{
    @*Modal Window ReportTransfer*@

    <div class="modal fade" id="newModalOfficetransfer">
        <div class="modal-dialog modal-lg" style=" width: 20% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-md-4">
                            <form method="post" asp-action="ReportOnStockResult">
                                <div class="form-group" id="dateActionFrom">                
                                    <label class="control-label">от :</label>
                                    <input 
                                    id="dateActionFromAsset" 
                                    type="date" 
                                    class="form-control" 
                                    style=" width: 270px !important;"
                                    name="datefrom"
                                    />
                                </div>

                                <div class="form-group" id="dateActionTo">
                                    <label class="control-label">до: </label>
                                    <input 
                                    id="dateActionToAsset" 
                                    type="date" 
                                    class="form-control" 
                                    style=" width: 270px !important;"
                                    name="dateto"
                                    />
                                </div>
                                <input type="submit" class="btn btn-w-m btn-primary"  value="Send">
                            </form>
                            
                            <!-- <a onclick="ReportOnStockDateFromTo()" class="btn btn-primary">Ок</a>  -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    @*Modal Window ReportOnStock*@

    <div class="modal fade" id="newModalOnStock">
        <div class="modal-dialog modal-lg" style=" width: 16.6% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-md-4">
                            <form method="post" asp-action="ReportOnStockNew">
                                <div class="form-group" id="dateActionFrom">                
                                    <label class="control-label">от :</label>
                                    <input 
                                    id="dateActionFromAsset" 
                                    type="date" 
                                    class="form-control" 
                                    style=" width: 270px !important;"
                                    name="datefrom"
                                    />
                                </div>
                                <input type="submit" class="btn btn-w-m btn-primary"  value="Send">
                            </form>
                            
                            <!-- <a onclick="ReportOnStockDateFromTo()" class="btn btn-primary">Ок</a>  -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    @*Modal Window ReportOnStockAdd*@

    <div class="modal fade" id="newModalOnStockAdd">
        <div class="modal-dialog modal-lg" style=" width: 16.6% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-md-4">

                            <form method="post" asp-action="ReportOnStockAdd">
                                <div class="form-group" id="dateActionFrom">                
                                    <label class="control-label">от :</label>
                                    <input 
                                    id="dateActionFromAsset" 
                                    type="date" 
                                    class="form-control" 
                                    style=" width: 270px !important;"
                                    name="datefrom"
                                    />
                                </div>

                                <div class="form-group" id="dateActionTo">
                                    <label class="control-label">до: </label>
                                    <input 
                                    id="dateActionToAsset" 
                                    type="date" 
                                    class="form-control" 
                                    style=" width: 270px !important;"
                                    name="dateto"
                                    />
                                </div>
                                <input type="submit" class="btn btn-w-m btn-primary"  value="Send">
                            </form>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    @*Modal Window ReportOnStockShortFile*@

    <div class="modal fade" id="newModalOnStockAddshortfile">
        <div class="modal-dialog modal-lg" style=" width: 16.6% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-md-4">

                            <form method="post" asp-action="ReportOnStockAdd">
                                <div class="form-group" id="dateActionFrom">                
                                    <label class="control-label">от :</label>
                                    <input 
                                    id="dateActionFromAsset" 
                                    type="date" 
                                    class="form-control" 
                                    style=" width: 270px !important;"
                                    name="datefrom"
                                    />
                                </div>

                                <div class="form-group" id="dateActionTo">
                                    <label class="control-label">до: </label>
                                    <input 
                                    id="dateActionToAsset" 
                                    type="date" 
                                    class="form-control" 
                                    style=" width: 270px !important;"
                                    name="dateto"
                                    />
                                </div>
                                <input type="submit" class="btn btn-w-m btn-primary"  value="Send">
                            </form>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    @*Modal Window ReportOnStockCategoryReport*@

    <div class="modal fade" id="newModalOnStockCategoryList">
        <div class="modal-dialog modal-lg" style=" width: 17.7% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-md-4">

                            <form method="post" asp-action="CategoryList">
                                <div class="form-group">
                                <label class="control-label">Категория</label>
                                <select class="form-control" id="categoryListViewBag" onchange="OnChangeCategoryList(this)" name="categoryId" style=" width: 290px !important;" asp-items="ViewBag.CategoryList"></select>
                            </div>
                                <input type="submit" class="btn btn-w-m btn-primary"  value="Send">
                            </form>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    @*Modal Window ReportOnStockListOfAssetsByOfficeOnDate*@

    <div class="modal fade" id="newModalOnStockAssetsByOfficeOnDate">
        <div class="modal-dialog modal-lg" style=" width: 17.6% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-md-4">

                            <form method="post" asp-action="ListOfAssetsByOffice">
                                <div class="form-group">
                                <label class="control-label">Офисы</label>
                                <select class="form-control" id="categoryListViewBag" name="officeId" style=" width: 290px !important;" asp-items="ViewBag.OfficeList"></select>
                            </div>

                             <div class="form-group" id="dateActionFrom">                
                                <label class="control-label">от :</label>
                                <input 
                                id="dateActionFromAsset" 
                                type="date" 
                                class="form-control" 
                                style=" width: 270px !important;"
                                name="date"
                                />
                            </div>
                                <input type="submit" class="btn btn-w-m btn-primary"  value="Send">
                            </form>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


}


<script>
    function showModalReportOnStocktransfer() {
        $("#newModalOfficetransfer").modal();
    }


    function showModalReportOnStock() {
        $("#newModalOnStock").modal();
    }

    function showModalReportOnStockAdd() {
        $("#newModalOnStockAdd").modal();
    }

    function showModalReportOnStockshortFile() {
        $("#newModalOnStockAddshortfile").modal();
    }

    var categoryList;

    function showModalReportOnStockCategoryList() {
        $("#newModalOnStockCategoryList").modal();
        categoryList = document.getElementById('categoryListViewBag').children[0].value;
        console.log(categoryList);
        debugger;
    }

    function OnChangeCategoryList(e) {
            categoryList = e.value;
        }

    function showModalReportOnStockAssetsByOfficeOnDate() {
        $("#newModalOnStockAssetsByOfficeOnDate").modal();
    }

   
</script>

