@using Microsoft.AspNetCore.Identity

@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManager


<div class="container">
    <h1 style="color: #2e728b">Отчёты</h1>
    <div class="row">

<div class="card" 
style="width: 18rem; background-color: whitesmoke; border-block-end-color: gray; padding: 10px; float: right; margin: 10px;" >
  <div class="card-img-top" style="background-color: #0091d7; width: 100%; height: 120px; padding: 5px; text-align: center">
      <h3 class="card-title" style="color: #ffffff;">Отчёт о списанию актива: </h3>
  </div>
  <div class="card-body">    
    <p class="card-text">Для получения отчёта нажмите получить</p>
    <a onclick="showModalReportOnStockshortFile()" class="btn" style="background-color: #0091d7; color: white">Получить</a>
  </div>
</div>

<div class="card" 
style="width: 18rem; background-color: whitesmoke; border-block-end-color: gray; padding: 10px; float: right; margin: 10px;" >
  <div class="card-img-top" style="background-color: #eb2972; width: 100%; height: 120px; padding: 5px; text-align: center">
      <h3 class="card-title" style="color: #ffffff;">Отчёт отчёта по приобретённым актива: </h3>
  </div>
  <div class="card-body">    
    <p class="card-text">Для получения отчёта нажмите получить</p>
    <a onclick="showModalReportOnStockAdd()" class="btn" style="background-color: #0091d7; color: white">Получить</a>
  </div>

</div>

<div class="card" 
style="width: 18rem; background-color: whitesmoke; border-block-end-color: gray; padding: 10px; float: right; margin: 10px;" >
  <div class="card-img-top" style="background-color: #f88b14; width: 100%; height: 120px; padding: 5px; text-align: center">
      <h3 class="card-title" style="color: #ffffff;">Отчёт о активах которые находяться на складе: </h3>
  </div>
  <div class="card-body">    
    <p class="card-text">Для получения отчёта нажмите получить</p>
    <a onclick="showModalReportOnStock()" class="btn" style="background-color: #0091d7; color: white">Получить</a>
  </div>
</div>

<div class="card" 
style="width: 18rem; background-color: whitesmoke; border-block-end-color: gray; padding: 10px; float: right; margin: 10px;" >
  <div class="card-img-top" style="background-color: #38b8ab; width: 100%; height: 120px; padding: 5px; text-align: center">
      <h3 class="card-title" style="color: #ffffff;">Отчёт о перемещению актива: </h3>
  </div>
  <div class="card-body">    
    <p class="card-text">Для получения отчёта нажмите получить</p>
    <a onclick="showModalReportOnStocktransfer()" class="btn" style="background-color: #0091d7; color: white">Получить</a>
  </div>
</div>
    </div>
</div>



@if (User.IsInRole("Admin"))
{
    @*Modal Window ReportTransfer*@

    <div class="modal fade" id="newModalOfficetransfer">
        <div class="modal-dialog modal-lg" style=" width: 16% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-md-4">
                            <form method="post" asp-action="ReportOnStockResult">
                                <div class="form-group" id="dateActionFrom">                
                                    <label class="control-label">от :</label>
                                    <input 
                                    id="dateActionFromAsset" 
                                    type="date" 
                                    class="form-control" 
                                    style=" width: 270px !important;"
                                    name="datefrom"
                                    />
                                </div>

                                <div class="form-group" id="dateActionTo">
                                    <label class="control-label">до: </label>
                                    <input 
                                    id="dateActionToAsset" 
                                    type="date" 
                                    class="form-control" 
                                    style=" width: 270px !important;"
                                    name="dateto"
                                    />
                                </div>
                                <input type="submit" value="Send">
                            </form>
                            
                            <!-- <a onclick="ReportOnStockDateFromTo()" class="btn btn-primary">Ок</a>  -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    @*Modal Window ReportOnStock*@

    <div class="modal fade" id="newModalOnStock">
        <div class="modal-dialog modal-lg" style=" width: 16% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-md-4">
                            <form method="post" asp-action="ReportOnStockNew">
                                <div class="form-group" id="dateActionFrom">                
                                    <label class="control-label">от :</label>
                                    <input 
                                    id="dateActionFromAsset" 
                                    type="date" 
                                    class="form-control" 
                                    style=" width: 270px !important;"
                                    name="datefrom"
                                    />
                                </div>
                                <input type="submit" value="Send">
                            </form>
                            
                            <!-- <a onclick="ReportOnStockDateFromTo()" class="btn btn-primary">Ок</a>  -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    @*Modal Window ReportOnStockAdd*@

    <div class="modal fade" id="newModalOnStockAdd">
        <div class="modal-dialog modal-lg" style=" width: 16% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-md-4">

                            <form method="post" asp-action="ReportOnStockAdd">
                                <div class="form-group" id="dateActionFrom">                
                                    <label class="control-label">от :</label>
                                    <input 
                                    id="dateActionFromAsset" 
                                    type="date" 
                                    class="form-control" 
                                    style=" width: 270px !important;"
                                    name="datefrom"
                                    />
                                </div>

                                <div class="form-group" id="dateActionTo">
                                    <label class="control-label">до: </label>
                                    <input 
                                    id="dateActionToAsset" 
                                    type="date" 
                                    class="form-control" 
                                    style=" width: 270px !important;"
                                    name="dateto"
                                    />
                                </div>
                                <input type="submit" value="Send">
                            </form>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    @*Modal Window ReportOnStockShortFile*@

    <div class="modal fade" id="newModalOnStockAddshortfile">
        <div class="modal-dialog modal-lg" style=" width: 16% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-md-4">

                            <form method="post" asp-action="ReportOnStockAdd">
                                <div class="form-group" id="dateActionFrom">                
                                    <label class="control-label">от :</label>
                                    <input 
                                    id="dateActionFromAsset" 
                                    type="date" 
                                    class="form-control" 
                                    style=" width: 270px !important;"
                                    name="datefrom"
                                    />
                                </div>

                                <div class="form-group" id="dateActionTo">
                                    <label class="control-label">до: </label>
                                    <input 
                                    id="dateActionToAsset" 
                                    type="date" 
                                    class="form-control" 
                                    style=" width: 270px !important;"
                                    name="dateto"
                                    />
                                </div>
                                <input type="submit" value="Send">
                            </form>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


}


<script>
    function showModalReportOnStocktransfer() {
        $("#newModalOfficetransfer").modal();
    }


    function showModalReportOnStock() {
        $("#newModalOnStock").modal();
    }

    function showModalReportOnStockAdd() {
        $("#newModalOnStockAdd").modal();
    }

    function showModalReportOnStockshortFile() {
        $("#newModalOnStockAddshortfile").modal();
    }

   
</script>

