@model inventory_accounting_system.Models.Category

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Удалить</h2>
        <h3 style="color: #EF5352">Вы уверены что хотите удалить это имущество</h3>
        <ol class="breadcrumb">
            <li>
                <a href="~/Categories">Категории</a>
            </li>
            <li class="active">
                <strong>Удалить</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<hr />

<div>
    
    <dl class="dl-horizontal">
        <dt style="width: 250px;">
           <h2 style="text-align: left">Категория: </h2>
        </dt>
        <dd>
           <h2 class="font-bold"  style=" margin-left: 50px;"> @Html.DisplayFor(model => model.Name)</h2>
        </dd>
        <dt style="width: 250px;">
           <h2 style="text-align: left;">Префикс категории: </h2>
        </dt>
        <dd>
           <h2 class="font-bold" style=" margin-left: 50px;">@Html.DisplayFor(model => model.Prefix)</h2>
        </dd>
    </dl>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" style="margin-top: 10px; margin-bottom: 15px; "
            class="btn btn-w-m btn-danger" />
    </form>
</div>
