
@model IEnumerable<EventAsset>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
            <th scope="col">Creation Date</th>
            <th scope="col">Dead Line</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Title</th>
                    <td>@item.Content</td>
                    <td>@item.CreationDate</td>
                    <td>@item.DeadLine</td>
                </tr>
            }
        }
    </tbody>
</table>
<a class="btn btn-primary" style="margin-top: 15px" asp-action="GetExpiringEvents">Expiring events</a>
