@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<Employee> SignInManager

@{
    ViewData["Title"] = "Авторизация";
}


<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">IAS</h1>
        </div>
        <h3>Inventory Accounting System</h3>

        <p></p>
        <form class="m-t" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div class="form-group">
                <input asp-for="Login" class="form-control" placeholder="Логин" />
            </div>
            <div class="form-group">
                <input asp-for="Password" class="form-control" id="myInput" placeholder="Пароль" />

            </div>
           
            <div class="form-group m-t">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
            </div>

            <button type="submit" class="btn btn-primary block full-width m-b">Вход</button>
            <a asp-action="ForgotPassword"><small>Забыли пароль?</small></a>

        </form>
            
    </div>
</div>



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<script>
    function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
