@model inventory_accounting_system.Models.Office

@{
ViewData["Title"] = "Delete";
Layout = "~/Views/Shared/_Layout.cshtml";
var officeDelete = @ViewBag.OfficeSelect;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Удалить</h2>
        <h3 style="color: #EF5352">Вы уверены что хотите удалить это имущество</h3>
        <ol class="breadcrumb">
            <li>
                <a href="~/Offices/Index?officeId=@officeDelete">Главная</a>
            </li>
            <li class="active">
                <strong>Удалить</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<hr />

<div>


    <dl class="dl-horizontal">
        <dt>
            <h2>Офис\Склад: </h2>
        </dt>
        <dd>
            <h2 class="font-bold">@Html.DisplayFor(model => model.Title)</h2>
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" style="margin-top: 15px; margin-left: 10px;"
            class="btn btn-w-m btn-danger" />

    </form>
</div>