@model inventory_accounting_system.Models.EventAsset

@{
    ViewData["Title"] = "AddEvent";
    string assetId = (string)ViewData["AssetId"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Добавить событие</h2>
        <ol class="breadcrumb">
            <li>
                <a href="~/Assets/EditAssetEvents?assetId=@assetId">Редактирование</a>
            </li>           
            <li class="active">
                <strong>Добавить событие</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-4" style="margin-left: 33%; background-color: #F3F3F3">
        <form asp-controller="AssetEvent" asp-action="AddNewEvent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Periodicity</label>
                <select name="periodicity" class="form-control" asp-items="ViewBag.Periods"></select>
            </div>
            <div class="form-group">
                <input asp-for="AssetId" value="@assetId" type="hidden"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-w-m btn-primary" />
            </div>
        </form>
    </div>
</div>


